

<!-- Employee route link in EJS Page
<h1><a href="<%=generateUrl('user.login-page')%>">Login Employee</a></h1>
<h1><a href="<%=generateUrl('user.about-page')%>">About Page</a></h1> -->



<!-- User route link in EJS Page -->
<!-- <h1><a href="/api<%=generateUrl('register-user')%>">user register</a></h1>
<h1><a href="/api<%=generateUrl('login-user')%>">user login</a></h1> -->

<!-- student route link in EJS -->
<!-- <h1><a href="/api<%=generateUrl('create-student')%>">create student</a></h1>
<h1><a href="/api<%=generateUrl('show-student')%>">show student</a></h1> -->





<!-- Product route link in EJS -->
<!-- <h1><a href="/api<%=generateUrl('create-product')%>">create Product</a></h1>
<h1><a href="/api<%=generateUrl('show-product')%>">show Show Product</a></h1> -->

