<!DOCTYPE html>
<html lang="en">

<%-include('../common/head')%>

<body>
	<div class="wrapper">
		<%-include('../common/sidebar')%>

		<div class="main">
			<%-include('../common/navbar')%>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Analytics</strong> Blog List</h1>

                    <a href="<%=generateUrl('blog-add')%>" class="btn btn-info">Add-Blog</a>
                    <table class="table table-bordered mt-2">
                        <thead>
                          <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Content</th>
                            <th scope="col">Status</th>
                            <th colspan="2">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Active</td>
                            <td><a href="" class="btn btn-success">Update</a></td>
                            <td><a href="" class="btn btn-danger">Delete</a></td>
                          </tr>
                         
                         
                        </tbody>
                      </table>

					
				</div>
			</main>

<%-include('../common/footer')%>